In [4]:

import pandas as pd
import numpy as np 
import torch

In [5]:
data_path = 'data/'

In [6]:
train_df = pd.read_csv(data_path + 'train_v1.csv',index_col="seq_id")

In [7]:
train_df = train_df.dropna()
train_df = train_df.drop(columns=['data_source'])

In [8]:
train_df.head()

                                         protein_sequence   pH    tm
seq_id
0       AAAAKAAALALLGEAPEVVDIWLPAGWRQPFRVFRLERKGDGVLVG...  7.0  75.7
1       AAADGEPLHNEEERAGAGQVGRSLPQESEEQRTGSRPRRRRDLGSR...  7.0  50.5
2       AAAFSTPRATSYRILSSAGSGSTRADAPQVRRLHTTRDLLAKDYYA...  7.0  40.5
3       AAASGLRTAIPAQPLRHLLQPAPRPCLRPFGLLSVRAGSARRSGLL...  7.0  47.2
4       AAATKSGPRRQSQGASVRTFTPFYFLVEPVDTLSVRGSSVILNCSA...  7.0  49.5

In [9]:
from collections import Counter

In [10]:
def f(s):
    counter = Counter(s)
    for p in s  : 
        if p in map : 
            map[p]+=counter[p]
        else : 
            map[p]= counter[p]

In [11]:
map = {} 
mapper = train_df.apply(lambda row : f(row['protein_sequence']),axis=1)

In [12]:
map = dict(sorted(map.items(), key=lambda item: item[1],reverse=True))

In [13]:
i = 1
for key, value in map.items():
    map[key]= i
    i+=1

In [14]:
def chr_to_int(s):
    l = []
    for ch in s :
       l.append(map[ch])
    return l

In [15]:
train_df['numerical_sequence'] = train_df.apply(lambda row : chr_to_int(row['protein_sequence']),axis=1)

In [16]:
train_df['length'] = train_df['protein_sequence'].str.len()

In [17]:
train_df

,protein_sequence,pH,tm,numerical_sequence,length
seq_id,,,,,
0,AAAAKAAALALLGEAPEVVDIWLPAGWRQPFRVFRLERKGDGVLVG...,7.0,75.7,"[4, 4, 4, 4, 6, 4, 4, 4, 1, 4, 1, 1, 5, 3, 4, ...",341
1,AAADGEPLHNEEERAGAGQVGRSLPQESEEQRTGSRPRRRRDLGSR...,7.0,50.5,"[4, 4, 4, 8, 5, 3, 9, 1, 17, 14, 3, 3, 3, 10, ...",286
2,AAAFSTPRATSYRILSSAGSGSTRADAPQVRRLHTTRDLLAKDYYA...,7.0,40.5,"[4, 4, 4, 15, 2, 11, 9, 10, 4, 11, 2, 16, 10, ...",497
3,AAASGLRTAIPAQPLRHLLQPAPRPCLRPFGLLSVRAGSARRSGLL...,7.0,47.2,"[4, 4, 4, 2, 5, 1, 10, 11, 4, 12, 9, 4, 13, 9,...",265
4,AAATKSGPRRQSQGASVRTFTPFYFLVEPVDTLSVRGSSVILNCSA...,7.0,49.5,"[4, 4, 4, 11, 6, 2, 5, 9, 10, 10, 13, 2, 13, 5...",1451
...,...,...,...,...,...
31385,YYMYSGGGSALAAGGGGAGRKGDWNDIDSIKKKDLHHSRGDEKAQG...,7.0,51.8,"[16, 16, 18, 16, 2, 5, 5, 5, 2, 4, 1, 4, 4, 5,...",549
31386,YYNDQHRLSSYSVETAMFLSWERAIVKPGAMFKKAVIGFNCNVDLI...,7.0,37.2,"[16, 16, 14, 8, 13, 17, 10, 1, 2, 2, 16, 2, 7,...",469
31387,YYQRTLGAELLYKISFGEMPKSAQDSAENCPSGMQFPDTAIAHANV...,7.0,64.6,"[16, 16, 13, 10, 11, 1, 5, 4, 3, 1, 1, 16, 6, ...",128
31388,YYSFSDNITTVFLSRQAIDDDHSLSLGTISDVVESENGVVAADDAR...,7.0,50.7,"[16, 16, 2, 15, 2, 8, 14, 12, 11, 11, 7, 15, 1...",593
31389,YYVPDEYWQSLEVAHKLTFGYGYLTWEWVQGIRSYVYPLLIAGLYK...,7.0,37.6,"[16, 16, 7, 9, 8, 3, 16, 20, 13, 2, 1, 3, 7, 4...",537

In [18]:
max_length = max(train_df['length'])

In [19]:
max_length

8798

# Adding inverted sequences

In [20]:
inverted_df = train_df.copy()
inverted_df['protein_sequence'] = inverted_df.apply(lambda row : row['protein_sequence'][::-1],axis=1)
inverted_df['numerical_sequence'] = inverted_df.apply(lambda row : chr_to_int(row['protein_sequence']),axis=1)

In [21]:
inverted_df.head(5)

,protein_sequence,pH,tm,numerical_sequence,length
seq_id,,,,,
0,RYVERDPWAALCRGEDFDTLAVSVFPREGIYAQLKEQALRVLNVFF...,7.0,75.7,"[10, 16, 7, 3, 10, 8, 9, 20, 4, 4, 1, 19, 10, ...",341
1,SAQAPLDQGWSILSNSAQALETISVRGRQRIFNAVAALEEPTIYIF...,7.0,50.5,"[2, 4, 13, 4, 9, 1, 8, 13, 5, 20, 2, 12, 1, 2,...",286
2,FMSKIKSIFGGGGGDGQGSGSGGGEKAKTKKNDTWQDKGESEEAGP...,7.0,40.5,"[15, 18, 2, 6, 12, 6, 2, 12, 15, 5, 5, 5, 5, 5...",497
3,NKVFSKLDELFTIYEQHELATSLEVLEDAFTNDVGRDALFDMLHDY...,7.0,47.2,"[14, 6, 7, 15, 2, 6, 1, 8, 3, 1, 15, 11, 12, 1...",265
4,TTIANLDKMLGELHAMEKTLEDPEYSSESDELMRTTEQVEPASPVV...,7.0,49.5,"[11, 11, 12, 4, 14, 1, 8, 6, 18, 1, 5, 3, 1, 1...",1451

In [22]:
train_df.head(5)

,protein_sequence,pH,tm,numerical_sequence,length
seq_id,,,,,
0,AAAAKAAALALLGEAPEVVDIWLPAGWRQPFRVFRLERKGDGVLVG...,7.0,75.7,"[4, 4, 4, 4, 6, 4, 4, 4, 1, 4, 1, 1, 5, 3, 4, ...",341
1,AAADGEPLHNEEERAGAGQVGRSLPQESEEQRTGSRPRRRRDLGSR...,7.0,50.5,"[4, 4, 4, 8, 5, 3, 9, 1, 17, 14, 3, 3, 3, 10, ...",286
2,AAAFSTPRATSYRILSSAGSGSTRADAPQVRRLHTTRDLLAKDYYA...,7.0,40.5,"[4, 4, 4, 15, 2, 11, 9, 10, 4, 11, 2, 16, 10, ...",497
3,AAASGLRTAIPAQPLRHLLQPAPRPCLRPFGLLSVRAGSARRSGLL...,7.0,47.2,"[4, 4, 4, 2, 5, 1, 10, 11, 4, 12, 9, 4, 13, 9,...",265
4,AAATKSGPRRQSQGASVRTFTPFYFLVEPVDTLSVRGSSVILNCSA...,7.0,49.5,"[4, 4, 4, 11, 6, 2, 5, 9, 10, 10, 13, 2, 13, 5...",1451

In [23]:
train_df.loc[0]['protein_sequence'][::-1] == inverted_df.loc[0]['protein_sequence']

True

In [24]:
train_df = pd.concat([train_df,inverted_df],ignore_index=True)

## padding with zeros

In [25]:
## add 0 to numerical_sequence to make all of them the same length
padded_train_df = train_df.copy()
padded_train_df['numerical_sequence'] = train_df.apply(lambda row : row['numerical_sequence'] + [0]*(max_length - row['length']),axis=1)

In [27]:
padded_train_df.drop(columns=['protein_sequence'],inplace=True)

In [28]:
padded_train_df['y'] = padded_train_df['tm']

In [29]:
padded_train_df.drop(columns=['tm'],inplace=True)

In [30]:
padded_train_df['numerical_sequence'] = padded_train_df.apply(lambda row : np.array(row['numerical_sequence']),axis=1)

## Create 1d conv net

1. get DataLoader from train_dl

In [31]:
import torch

In [32]:
from torch.utils.data import Dataset

class MyDataset(Dataset):
 
  def __init__(self,df):
    
 
    sequence= df.iloc[:]['numerical_sequence']
    numerical = df.iloc[:,[0,2]].values
    y=df.iloc[:,3].values
    print(sequence)
    self.x_sequence=torch.tensor(sequence)
    self.y=torch.tensor(y,dtype=torch.float32)
    self.num=torch.tensor(numerical,dtype=torch.float32)
 
  def __len__(self):
    return len(self.y)
   
  def __getitem__(self,idx):
    return self.x_sequence[idx],self.y[idx] , self.num[idx]

In [33]:
df = MyDataset(padded_train_df)
train_dl = torch.utils.data.DataLoader(df, batch_size=32, shuffle=True)

0        [4, 4, 4, 4, 6, 4, 4, 4, 1, 4, 1, 1, 5, 3, 4, ...
1        [4, 4, 4, 8, 5, 3, 9, 1, 17, 14, 3, 3, 3, 10, ...
2        [4, 4, 4, 15, 2, 11, 9, 10, 4, 11, 2, 16, 10, ...
3        [4, 4, 4, 2, 5, 1, 10, 11, 4, 12, 9, 4, 13, 9,...
4        [4, 4, 4, 11, 6, 2, 5, 9, 10, 10, 13, 2, 13, 5...
                               ...
55449    [13, 1, 14, 1, 2, 15, 6, 20, 13, 13, 2, 1, 4, ...
55450    [17, 11, 9, 10, 14, 1, 10, 16, 15, 13, 2, 16, ...
55451    [11, 9, 13, 13, 6, 7, 7, 14, 12, 18, 20, 9, 7,...
55452    [4, 4, 9, 6, 5, 8, 6, 10, 9, 8, 2, 7, 4, 11, 1...
55453    [15, 1, 14, 3, 14, 3, 14, 4, 1, 7, 1, 8, 3, 1,...
Name: numerical_sequence, Length: 55454, dtype: object

/var/folders/zp/t_7t2xyj4n760sxfr2jkq6z40000gn/T/ipykernel_18673/628153117.py:12: UserWarning: Creating a tensor from a list of numpy.ndarrays is extremely slow. Please consider converting the list to a single numpy.ndarray with numpy.array() before converting to a tensor. (Triggered internally at /Users/runner/work/_temp/anaconda/conda-bld/pytorch_1666646703877/work/torch/csrc/utils/tensor_new.cpp:233.)
  self.x_sequence=torch.tensor(sequence)

In [34]:
import torch.nn as nn
class ProtC1D(nn.Module):

    def __init__(self,length):
        super().__init__()
        self.protein_sequence = nn.Sequential(
            nn.Conv1d(length, 64,kernel_size=8, stride=1),
            nn.ReLU(),
            nn.MaxPool1d(2),
            nn.Dropout(),
    
            nn.Conv1d(32, 64,kernel_size=5, stride=1), #Taille de output de pooling est donné par cette formule : (64 + 2*0 - 1* (2-1) - 1)/2 + 1 (=32 ici)
            #La notre dernier array qu'on utilise avec le linear sera 32 : ca va ou il faut plus petit ?
            nn.ReLU(),
            nn.MaxPool1d(2), 
            nn.Dropout(),

        )

        self.prot_seq_one_pooling = nn.Sequential(

            #With pooling only at the end (seen in paper)

            nn.Conv1d(length, 64,kernel_size=8, stride=1),
            nn.ReLU(),
            nn.Dropout(),
            nn.Conv1d(64, 64, 5, stride=1, padding=2), 
            nn.ReLU(), 
            nn.Dropout(),
            nn.Conv1d(64, 64, 5, stride=1, padding=2), 
            nn.ReLU(), 
            nn.Dropout(),
            nn.Conv1d(64, 64, 5, stride=1, padding=2), 
            nn.ReLU(), 
            nn.Dropout(),
            nn.Conv1d(64, 64, 5, stride=1, padding=2), 
            nn.ReLU(), 
            nn.Dropout(),
            nn.Conv1d(64, 64, 5, stride=1, padding=1), 
            nn.ReLU(), 
            nn.Dropout(),
            nn.AdaptiveAvgPool1d(32), #argument = output size 
            nn.Conv1d(32, 32, 5, stride=1, padding=1), 
            nn.ReLU(), 
            nn.Dropout(),


        )
        self.numerical = nn.Sequential(
            nn.Linear(2, 64),
            nn.ReLU(),
            nn.Dropout(),
            nn.Linear(64, 64),
            nn.ReLU(),
        )
        self.mlp = nn.Sequential(
            nn.Linear(96, 64),#input devrait être 32 + 64 plutôt non si on utilise MaxPoolId(2)? (était marqué 128 en input avant) Comme on fait le pooling
            nn.ReLU(),
            nn.Dropout(),
            nn.Linear(64, 1),
        )

    def forward(self, x,y):
        x = self.protein_sequence(x)
        y = self.numerical(y)
        x = torch.cat((x, y), 1)
        x = self.mlp(x)
        return x

In [35]:
model = ProtC1D(max_length)

In [37]:
import pandas as pd
import numpy as np
from torch.nn import Linear, ReLU, CrossEntropyLoss, Sequential, Conv2d, MaxPool2d, Module, Softmax, BatchNorm2d, Dropout

from torch.optim import Adam

In [39]:
optimizer = Adam(model.parameters(), lr=0.07)
# defining the loss function
criterion = CrossEntropyLoss()
# checking if GPU is available
if torch.cuda.is_available():
    model = model.cuda()
    criterion = criterion.cuda()