In [2]:

import pandas as pd
import numpy as np 
import torch

In [3]:
data_path = 'data/'

In [4]:
train_df = pd.read_csv(data_path + 'train_v1.csv',index_col="seq_id")

In [5]:
train_df = train_df.dropna()
train_df = train_df.drop(columns=['data_source'])

In [6]:
train_df.head()

                                         protein_sequence   pH    tm
seq_id
0       AAAAKAAALALLGEAPEVVDIWLPAGWRQPFRVFRLERKGDGVLVG...  7.0  75.7
1       AAADGEPLHNEEERAGAGQVGRSLPQESEEQRTGSRPRRRRDLGSR...  7.0  50.5
2       AAAFSTPRATSYRILSSAGSGSTRADAPQVRRLHTTRDLLAKDYYA...  7.0  40.5
3       AAASGLRTAIPAQPLRHLLQPAPRPCLRPFGLLSVRAGSARRSGLL...  7.0  47.2
4       AAATKSGPRRQSQGASVRTFTPFYFLVEPVDTLSVRGSSVILNCSA...  7.0  49.5

In [7]:
from collections import Counter

In [8]:
def f(s):
    counter = Counter(s)
    for p in s  : 
        if p in map : 
            map[p]+=counter[p]
        else : 
            map[p]= counter[p]

In [9]:
map = {} 
mapper = train_df.apply(lambda row : f(row['protein_sequence']),axis=1)

In [10]:
map = dict(sorted(map.items(), key=lambda item: item[1],reverse=True))

In [11]:
i = 1
for key, value in map.items():
    map[key]= i
    i+=1

In [12]:
def chr_to_int(s):
    l = []
    for ch in s :
       l.append(map[ch])
    return l

In [13]:
train_df['numerical_sequence'] = train_df.apply(lambda row : chr_to_int(row['protein_sequence']),axis=1)

In [14]:
train_df['length'] = train_df['protein_sequence'].str.len()

In [15]:
train_df

,protein_sequence,pH,tm,numerical_sequence,length
seq_id,,,,,
0,AAAAKAAALALLGEAPEVVDIWLPAGWRQPFRVFRLERKGDGVLVG...,7.0,75.7,"[4, 4, 4, 4, 6, 4, 4, 4, 1, 4, 1, 1, 5, 3, 4, ...",341
1,AAADGEPLHNEEERAGAGQVGRSLPQESEEQRTGSRPRRRRDLGSR...,7.0,50.5,"[4, 4, 4, 8, 5, 3, 9, 1, 17, 14, 3, 3, 3, 10, ...",286
2,AAAFSTPRATSYRILSSAGSGSTRADAPQVRRLHTTRDLLAKDYYA...,7.0,40.5,"[4, 4, 4, 15, 2, 11, 9, 10, 4, 11, 2, 16, 10, ...",497
3,AAASGLRTAIPAQPLRHLLQPAPRPCLRPFGLLSVRAGSARRSGLL...,7.0,47.2,"[4, 4, 4, 2, 5, 1, 10, 11, 4, 12, 9, 4, 13, 9,...",265
4,AAATKSGPRRQSQGASVRTFTPFYFLVEPVDTLSVRGSSVILNCSA...,7.0,49.5,"[4, 4, 4, 11, 6, 2, 5, 9, 10, 10, 13, 2, 13, 5...",1451
...,...,...,...,...,...
31385,YYMYSGGGSALAAGGGGAGRKGDWNDIDSIKKKDLHHSRGDEKAQG...,7.0,51.8,"[16, 16, 18, 16, 2, 5, 5, 5, 2, 4, 1, 4, 4, 5,...",549
31386,YYNDQHRLSSYSVETAMFLSWERAIVKPGAMFKKAVIGFNCNVDLI...,7.0,37.2,"[16, 16, 14, 8, 13, 17, 10, 1, 2, 2, 16, 2, 7,...",469
31387,YYQRTLGAELLYKISFGEMPKSAQDSAENCPSGMQFPDTAIAHANV...,7.0,64.6,"[16, 16, 13, 10, 11, 1, 5, 4, 3, 1, 1, 16, 6, ...",128
31388,YYSFSDNITTVFLSRQAIDDDHSLSLGTISDVVESENGVVAADDAR...,7.0,50.7,"[16, 16, 2, 15, 2, 8, 14, 12, 11, 11, 7, 15, 1...",593
31389,YYVPDEYWQSLEVAHKLTFGYGYLTWEWVQGIRSYVYPLLIAGLYK...,7.0,37.6,"[16, 16, 7, 9, 8, 3, 16, 20, 13, 2, 1, 3, 7, 4...",537

In [16]:
max_length = max(train_df['length'])

# Adding inverted sequences

In [22]:
inverted_df = train_df.copy()
inverted_df['protein_sequence'] = inverted_df.apply(lambda row : row['protein_sequence'][::-1],axis=1)
inverted_df['numerical_sequence'] = inverted_df.apply(lambda row : chr_to_int(row['protein_sequence']),axis=1)

In [23]:
inverted_df.head(5)

,protein_sequence,pH,tm,numerical_sequence,length
seq_id,,,,,
0,RYVERDPWAALCRGEDFDTLAVSVFPREGIYAQLKEQALRVLNVFF...,7.0,75.7,"[10, 16, 7, 3, 10, 8, 9, 20, 4, 4, 1, 19, 10, ...",341
1,SAQAPLDQGWSILSNSAQALETISVRGRQRIFNAVAALEEPTIYIF...,7.0,50.5,"[2, 4, 13, 4, 9, 1, 8, 13, 5, 20, 2, 12, 1, 2,...",286
2,FMSKIKSIFGGGGGDGQGSGSGGGEKAKTKKNDTWQDKGESEEAGP...,7.0,40.5,"[15, 18, 2, 6, 12, 6, 2, 12, 15, 5, 5, 5, 5, 5...",497
3,NKVFSKLDELFTIYEQHELATSLEVLEDAFTNDVGRDALFDMLHDY...,7.0,47.2,"[14, 6, 7, 15, 2, 6, 1, 8, 3, 1, 15, 11, 12, 1...",265
4,TTIANLDKMLGELHAMEKTLEDPEYSSESDELMRTTEQVEPASPVV...,7.0,49.5,"[11, 11, 12, 4, 14, 1, 8, 6, 18, 1, 5, 3, 1, 1...",1451

In [21]:
train_df.head(5)

,protein_sequence,pH,tm,numerical_sequence,length
seq_id,,,,,
0,AAAAKAAALALLGEAPEVVDIWLPAGWRQPFRVFRLERKGDGVLVG...,7.0,75.7,"[4, 4, 4, 4, 6, 4, 4, 4, 1, 4, 1, 1, 5, 3, 4, ...",341
1,AAADGEPLHNEEERAGAGQVGRSLPQESEEQRTGSRPRRRRDLGSR...,7.0,50.5,"[4, 4, 4, 8, 5, 3, 9, 1, 17, 14, 3, 3, 3, 10, ...",286
2,AAAFSTPRATSYRILSSAGSGSTRADAPQVRRLHTTRDLLAKDYYA...,7.0,40.5,"[4, 4, 4, 15, 2, 11, 9, 10, 4, 11, 2, 16, 10, ...",497
3,AAASGLRTAIPAQPLRHLLQPAPRPCLRPFGLLSVRAGSARRSGLL...,7.0,47.2,"[4, 4, 4, 2, 5, 1, 10, 11, 4, 12, 9, 4, 13, 9,...",265
4,AAATKSGPRRQSQGASVRTFTPFYFLVEPVDTLSVRGSSVILNCSA...,7.0,49.5,"[4, 4, 4, 11, 6, 2, 5, 9, 10, 10, 13, 2, 13, 5...",1451

In [32]:
train_df.loc[0]['protein_sequence'][::-1] == inverted_df.loc[0]['protein_sequence']

True

In [33]:
train_df = pd.concat([train_df,inverted_df],ignore_index=True)