In [1]:

import pandas as pd
import numpy as np 
import torch

/opt/miniconda3/lib/python3.9/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
data_path = 'data/'

In [3]:
train_df = pd.read_csv(data_path + 'train_v1.csv',index_col="seq_id")

In [4]:
train_df = train_df.dropna()
train_df = train_df.drop(columns=['data_source'])

In [5]:
train_df.head()

                                         protein_sequence   pH    tm
seq_id
0       AAAAKAAALALLGEAPEVVDIWLPAGWRQPFRVFRLERKGDGVLVG...  7.0  75.7
1       AAADGEPLHNEEERAGAGQVGRSLPQESEEQRTGSRPRRRRDLGSR...  7.0  50.5
2       AAAFSTPRATSYRILSSAGSGSTRADAPQVRRLHTTRDLLAKDYYA...  7.0  40.5
3       AAASGLRTAIPAQPLRHLLQPAPRPCLRPFGLLSVRAGSARRSGLL...  7.0  47.2
4       AAATKSGPRRQSQGASVRTFTPFYFLVEPVDTLSVRGSSVILNCSA...  7.0  49.5

In [6]:
from collections import Counter

In [7]:
def f(s):
    counter = Counter(s)
    for p in s  : 
        if p in map : 
            map[p]+=counter[p]
        else : 
            map[p]= counter[p]

In [8]:
map = {} 
mapper = train_df.apply(lambda row : f(row['protein_sequence']),axis=1)

In [9]:
map = dict(sorted(map.items(), key=lambda item: item[1],reverse=True))

In [10]:
i = 1
for key, value in map.items():
    map[key]= i
    i+=1

In [11]:
def chr_to_int(s):
    l = []
    for ch in s :
       l.append(map[ch])
    return l

In [12]:
train_df['numerical_sequence'] = train_df.apply(lambda row : chr_to_int(row['protein_sequence']),axis=1)

In [13]:
train_df['length'] = train_df['protein_sequence'].str.len()

In [14]:
train_df

,protein_sequence,pH,tm,numerical_sequence,length
seq_id,,,,,
0,AAAAKAAALALLGEAPEVVDIWLPAGWRQPFRVFRLERKGDGVLVG...,7.0,75.7,"[4, 4, 4, 4, 6, 4, 4, 4, 1, 4, 1, 1, 5, 3, 4, ...",341
1,AAADGEPLHNEEERAGAGQVGRSLPQESEEQRTGSRPRRRRDLGSR...,7.0,50.5,"[4, 4, 4, 8, 5, 3, 9, 1, 17, 14, 3, 3, 3, 10, ...",286
2,AAAFSTPRATSYRILSSAGSGSTRADAPQVRRLHTTRDLLAKDYYA...,7.0,40.5,"[4, 4, 4, 15, 2, 11, 9, 10, 4, 11, 2, 16, 10, ...",497
3,AAASGLRTAIPAQPLRHLLQPAPRPCLRPFGLLSVRAGSARRSGLL...,7.0,47.2,"[4, 4, 4, 2, 5, 1, 10, 11, 4, 12, 9, 4, 13, 9,...",265
4,AAATKSGPRRQSQGASVRTFTPFYFLVEPVDTLSVRGSSVILNCSA...,7.0,49.5,"[4, 4, 4, 11, 6, 2, 5, 9, 10, 10, 13, 2, 13, 5...",1451
...,...,...,...,...,...
31385,YYMYSGGGSALAAGGGGAGRKGDWNDIDSIKKKDLHHSRGDEKAQG...,7.0,51.8,"[16, 16, 18, 16, 2, 5, 5, 5, 2, 4, 1, 4, 4, 5,...",549
31386,YYNDQHRLSSYSVETAMFLSWERAIVKPGAMFKKAVIGFNCNVDLI...,7.0,37.2,"[16, 16, 14, 8, 13, 17, 10, 1, 2, 2, 16, 2, 7,...",469
31387,YYQRTLGAELLYKISFGEMPKSAQDSAENCPSGMQFPDTAIAHANV...,7.0,64.6,"[16, 16, 13, 10, 11, 1, 5, 4, 3, 1, 1, 16, 6, ...",128
31388,YYSFSDNITTVFLSRQAIDDDHSLSLGTISDVVESENGVVAADDAR...,7.0,50.7,"[16, 16, 2, 15, 2, 8, 14, 12, 11, 11, 7, 15, 1...",593
31389,YYVPDEYWQSLEVAHKLTFGYGYLTWEWVQGIRSYVYPLLIAGLYK...,7.0,37.6,"[16, 16, 7, 9, 8, 3, 16, 20, 13, 2, 1, 3, 7, 4...",537

In [15]:
max_length = max(train_df['length'])

# Adding inverted sequences

In [16]:
inverted_df = train_df.copy()
inverted_df['protein_sequence'] = inverted_df.apply(lambda row : row['protein_sequence'][::-1],axis=1)
inverted_df['numerical_sequence'] = inverted_df.apply(lambda row : chr_to_int(row['protein_sequence']),axis=1)

In [17]:
inverted_df.head(5)

,protein_sequence,pH,tm,numerical_sequence,length
seq_id,,,,,
0,RYVERDPWAALCRGEDFDTLAVSVFPREGIYAQLKEQALRVLNVFF...,7.0,75.7,"[10, 16, 7, 3, 10, 8, 9, 20, 4, 4, 1, 19, 10, ...",341
1,SAQAPLDQGWSILSNSAQALETISVRGRQRIFNAVAALEEPTIYIF...,7.0,50.5,"[2, 4, 13, 4, 9, 1, 8, 13, 5, 20, 2, 12, 1, 2,...",286
2,FMSKIKSIFGGGGGDGQGSGSGGGEKAKTKKNDTWQDKGESEEAGP...,7.0,40.5,"[15, 18, 2, 6, 12, 6, 2, 12, 15, 5, 5, 5, 5, 5...",497
3,NKVFSKLDELFTIYEQHELATSLEVLEDAFTNDVGRDALFDMLHDY...,7.0,47.2,"[14, 6, 7, 15, 2, 6, 1, 8, 3, 1, 15, 11, 12, 1...",265
4,TTIANLDKMLGELHAMEKTLEDPEYSSESDELMRTTEQVEPASPVV...,7.0,49.5,"[11, 11, 12, 4, 14, 1, 8, 6, 18, 1, 5, 3, 1, 1...",1451

In [18]:
train_df.head(5)

,protein_sequence,pH,tm,numerical_sequence,length
seq_id,,,,,
0,AAAAKAAALALLGEAPEVVDIWLPAGWRQPFRVFRLERKGDGVLVG...,7.0,75.7,"[4, 4, 4, 4, 6, 4, 4, 4, 1, 4, 1, 1, 5, 3, 4, ...",341
1,AAADGEPLHNEEERAGAGQVGRSLPQESEEQRTGSRPRRRRDLGSR...,7.0,50.5,"[4, 4, 4, 8, 5, 3, 9, 1, 17, 14, 3, 3, 3, 10, ...",286
2,AAAFSTPRATSYRILSSAGSGSTRADAPQVRRLHTTRDLLAKDYYA...,7.0,40.5,"[4, 4, 4, 15, 2, 11, 9, 10, 4, 11, 2, 16, 10, ...",497
3,AAASGLRTAIPAQPLRHLLQPAPRPCLRPFGLLSVRAGSARRSGLL...,7.0,47.2,"[4, 4, 4, 2, 5, 1, 10, 11, 4, 12, 9, 4, 13, 9,...",265
4,AAATKSGPRRQSQGASVRTFTPFYFLVEPVDTLSVRGSSVILNCSA...,7.0,49.5,"[4, 4, 4, 11, 6, 2, 5, 9, 10, 10, 13, 2, 13, 5...",1451

In [19]:
train_df.loc[0]['protein_sequence'][::-1] == inverted_df.loc[0]['protein_sequence']

True

In [20]:
train_df = pd.concat([train_df,inverted_df],ignore_index=True)

# Convolution

In [38]:
# importing the libraries
import pandas as pd
import numpy as np

# for creating validation set
from sklearn.model_selection import train_test_split

# for evaluating the model
from sklearn.metrics import accuracy_score
from tqdm import tqdm

# PyTorch libraries and modules
import torch
from torch.autograd import Variable
from torch.nn import Linear, ReLU, CrossEntropyLoss, Sequential, Conv2d, MaxPool2d, Module, Softmax, BatchNorm2d, Dropout
from torch.optim import Adam, SGD

In [46]:
# create validation set
train_x_serie, val_x_serie, train_y_serie, val_y_serie = train_test_split(train_df['numerical_sequence'], train_df['tm'], test_size = 0.1)
(train_x_serie.shape, train_y_serie.shape), (val_x_serie.shape, val_y_serie.shape)

(((49908,), (49908,)), ((5546,), (5546,)))

In [60]:
# converting into torch format CETTE PARTIE MARCHE PAS

# creating DataFrame from targets_data
targets_df = pd.DataFrame(data=train_df)
#targets_df.columns = ['numerical_sequence']

# creating tensor from targets_df 
train_x = targets_df['numerical_sequence'].to_numpy(dtype=float, copy=True)
torch_tensor = torch.tensor(train_x['numerical_sequence'])

# printing out result
print(torch_tensor)

"""""

train_x = train_x_serie.to_numpy(dtype=float, copy=True)
train_x = train_x.reshape(49908, 1)
#train_x=np.vstack(train_x).astype(np.float)
train_x  = torch.tensor(train_x)

# converting the target into torch format
train_y = train_y_serie.to_numpy()
train_y = train_y.astype(int)
train_y = torch.from_numpy(train_y)

# shape of training data
train_x.shape, train_y.shape"""

AttributeError: 'numpy.ndarray' object has no attribute 'to_numpy'

In [ ]:
# converting  into torch format
val_x = val_x_serie.reshape(5546, 1)
val_x  = torch.from_numpy(val_x)

# converting into torch format
val_y = val_y_serie.astype(int)
val_y = torch.from_numpy(val_y)

# shape of validation data
val_x.shape, val_y.shape

In [ ]:
class Net(Module):   
    def __init__(self):
        super(Net, self).__init__()

        self.cnn_layers = Sequential(
            # Defining a 2D convolution layer
            Conv2d(1, 4, kernel_size=3, stride=1, padding=1),
            BatchNorm2d(4),
            ReLU(inplace=True),
            MaxPool2d(kernel_size=2, stride=2),
            # Defining another 2D convolution layer
            Conv2d(4, 4, kernel_size=3, stride=1, padding=1),
            BatchNorm2d(4),
            ReLU(inplace=True),
            MaxPool2d(kernel_size=2, stride=2),
        )

        self.linear_layers = Sequential(
            Linear(4 * 7 * 7, 10)
        )


# Defining the forward pass    
    def forward(self, x):
        x = self.cnn_layers(x)
        x = x.view(x.size(0), -1)
        x = self.linear_layers(x)
        return x

In [ ]:
# defining the model
model = Net()
# defining the optimizer
optimizer = Adam(model.parameters(), lr=0.07)
# defining the loss function
criterion = CrossEntropyLoss()
# checking if GPU is available
if torch.cuda.is_available():
    model = model.cuda()
    criterion = criterion.cuda()
    
print(model)

In [ ]:
def train(epoch):
    model.train()
    tr_loss = 0
    # getting the training set
    x_train, y_train = Variable(train_x), Variable(train_y)
    # getting the validation set
    x_val, y_val = Variable(val_x), Variable(val_y)
    # converting the data into GPU format
    if torch.cuda.is_available():
        x_train = x_train.cuda()
        y_train = y_train.cuda()
        x_val = x_val.cuda()
        y_val = y_val.cuda()

    # clearing the Gradients of the model parameters
    optimizer.zero_grad()
    # prediction for training and validation set
    output_train = model(x_train)
    output_val = model(x_val)

    # computing the training and validation loss
    loss_train = criterion(output_train, y_train)
    loss_val = criterion(output_val, y_val)
    train_losses.append(loss_train)
    val_losses.append(loss_val)

    # computing the updated weights of all the model parameters
    loss_train.backward()
    optimizer.step()
    tr_loss = loss_train.item()
    if epoch%2 == 0:
        # printing the validation loss
        print('Epoch : ',epoch+1, '\t', 'loss :', loss_val)

In [ ]:
# defining the number of epochs
n_epochs = 25
# empty list to store training losses
train_losses = []
# empty list to store validation losses
val_losses = []
# training the model
for epoch in range(n_epochs):
    train(epoch)

In [ ]:
# plotting the training and validation loss
plt.plot(train_losses, label='Training loss')
plt.plot(val_losses, label='Validation loss')
plt.legend()
plt.show()