In [1]:

import pandas as pd
import numpy as np 
import torch

In [2]:
data_path = 'data/'

In [3]:
train_df = pd.read_csv(data_path + 'train_v1.csv',index_col="seq_id")

In [4]:
train_df = train_df.dropna()
train_df = train_df.drop(columns=['data_source'])

In [5]:
train_df.head()

                                         protein_sequence   pH    tm
seq_id
0       AAAAKAAALALLGEAPEVVDIWLPAGWRQPFRVFRLERKGDGVLVG...  7.0  75.7
1       AAADGEPLHNEEERAGAGQVGRSLPQESEEQRTGSRPRRRRDLGSR...  7.0  50.5
2       AAAFSTPRATSYRILSSAGSGSTRADAPQVRRLHTTRDLLAKDYYA...  7.0  40.5
3       AAASGLRTAIPAQPLRHLLQPAPRPCLRPFGLLSVRAGSARRSGLL...  7.0  47.2
4       AAATKSGPRRQSQGASVRTFTPFYFLVEPVDTLSVRGSSVILNCSA...  7.0  49.5

In [6]:
from collections import Counter

In [7]:
def f(s):
    counter = Counter(s)
    for p in s  : 
        if p in map : 
            map[p]+=counter[p]
        else : 
            map[p]= counter[p]

In [15]:
map = {} 
mapper = train_df.apply(lambda row : f(row['protein_sequence']),axis=1)

In [16]:
map = dict(sorted(map.items(), key=lambda item: item[1],reverse=True))

In [18]:
i = 1
for key, value in map.items():
    map[key]= i
    i+=1

In [30]:
def chr_to_int(s):
    l = []
    for ch in s :
       l.append(map[ch])
    return l

In [31]:
train_df['numerical_sequence'] = train_df.apply(lambda row : chr_to_int(row['protein_sequence']),axis=1)

In [35]:
train_df['length'] = train_df['protein_sequence'].str.len()

In [36]:
train_df

,protein_sequence,pH,tm,numerical_sequence,length
seq_id,,,,,
0,AAAAKAAALALLGEAPEVVDIWLPAGWRQPFRVFRLERKGDGVLVG...,7.0,75.7,"[4, 4, 4, 4, 6, 4, 4, 4, 1, 4, 1, 1, 5, 3, 4, ...",341
1,AAADGEPLHNEEERAGAGQVGRSLPQESEEQRTGSRPRRRRDLGSR...,7.0,50.5,"[4, 4, 4, 8, 5, 3, 9, 1, 17, 14, 3, 3, 3, 10, ...",286
2,AAAFSTPRATSYRILSSAGSGSTRADAPQVRRLHTTRDLLAKDYYA...,7.0,40.5,"[4, 4, 4, 15, 2, 11, 9, 10, 4, 11, 2, 16, 10, ...",497
3,AAASGLRTAIPAQPLRHLLQPAPRPCLRPFGLLSVRAGSARRSGLL...,7.0,47.2,"[4, 4, 4, 2, 5, 1, 10, 11, 4, 12, 9, 4, 13, 9,...",265
4,AAATKSGPRRQSQGASVRTFTPFYFLVEPVDTLSVRGSSVILNCSA...,7.0,49.5,"[4, 4, 4, 11, 6, 2, 5, 9, 10, 10, 13, 2, 13, 5...",1451
...,...,...,...,...,...
31385,YYMYSGGGSALAAGGGGAGRKGDWNDIDSIKKKDLHHSRGDEKAQG...,7.0,51.8,"[16, 16, 18, 16, 2, 5, 5, 5, 2, 4, 1, 4, 4, 5,...",549
31386,YYNDQHRLSSYSVETAMFLSWERAIVKPGAMFKKAVIGFNCNVDLI...,7.0,37.2,"[16, 16, 14, 8, 13, 17, 10, 1, 2, 2, 16, 2, 7,...",469
31387,YYQRTLGAELLYKISFGEMPKSAQDSAENCPSGMQFPDTAIAHANV...,7.0,64.6,"[16, 16, 13, 10, 11, 1, 5, 4, 3, 1, 1, 16, 6, ...",128
31388,YYSFSDNITTVFLSRQAIDDDHSLSLGTISDVVESENGVVAADDAR...,7.0,50.7,"[16, 16, 2, 15, 2, 8, 14, 12, 11, 11, 7, 15, 1...",593
31389,YYVPDEYWQSLEVAHKLTFGYGYLTWEWVQGIRSYVYPLLIAGLYK...,7.0,37.6,"[16, 16, 7, 9, 8, 3, 16, 20, 13, 2, 1, 3, 7, 4...",537

In [39]:
max_length = max(train_df['length'])

8798